<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} Kratos web</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-success text-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">D@mage</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <ul class = "navbar-nav  mr-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id ="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          welcome {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/handlelogout">Logout</a>
            
          </div>
        </li>
      </ul>
      {% else %}
        <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#signUp">
          SignUp
        </button>

        <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#login">
          LogIn
        </button>
        {% endif %}  
      </div>
  </nav>


  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}


  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="signUp" name="signUp" tabindex="-1" aria-labelledby="signUp" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="signUp">SignUp</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="/signup" method="post">
            <div class="mb-3">
              {% csrf_token %}
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email1" name="email1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="passWord" class="form-label">Password</label>
              <input type="password" class="form-control" id="passWord" name="passWord" required>
            </div>

            <div class="mb-3">
              <label for="Urser name" class="form-label">userName</label>
              <input type="text" class="form-control" id="Ursername" name="Ursername" placeholder="create your userName"
                required>
            </div>

            <div class="mb-3">
              <label for="First name" class="form-label">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="enter your first name"
                required>
            </div>

            <div class="mb-3">
              <label for="Last name" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="enter your last name"
                required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  </div>

  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="login">LogIn</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/handlelogin" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="userName" class="form-label">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="passWord1" class="form-label">Password</label>
              <input type="password" class="form-control" id="passWord1" name="passWord1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  {% block body %}{% endblock body %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>